<div class="row no-gutters ftco-services">
    <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-4 py-md-5">
            <div class="icon d-flex justify-content-center align-items-center mb-4">
                <span class="flaticon-bag"></span>
            </div>
            <div class="media-body">
                <h3 class="heading">Miễn phí vận chuyển</h3>
                <p>Miễn phí vận chuyển cho tất cả các đơn hàng giày sneaker của bạn! Hãy mua sắm và tận hưởng ưu đãi đặc biệt của chúng tôi.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-4 py-md-5">
            <div class="icon d-flex justify-content-center align-items-center mb-4">
                <span class="flaticon-customer-service"></span>
            </div>
            <div class="media-body">
                <h3 class="heading">Hỗ trợ khách hàng</h3>
                <p>Đội ngũ hỗ trợ khách hàng sẵn sàng giải đáp mọi thắc mắc và giúp đỡ bạn trong quá trình mua sắm giày sneaker.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-4 py-md-5">
            <div class="icon d-flex justify-content-center align-items-center mb-4">
                <span class="flaticon-payment-security"></span>
            </div>
            <div class="media-body">
                <h3 class="heading">Thanh toán an toàn</h3>
                <p>Sự an tâm cho khách hàng với việc thanh toán an toàn và đáng tin cậy tại website của chúng tôi</p>
            </div>
        </div>
    </div>
</div>